@model ChamadosCRUD.Models.ViewModels.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
<div class="row">
    <h2>Área de login para os técnicos</h2>
</div>
<div class="row">
    <form asp-action="Create" method="post">
        <div class="col-6">
            <label asp-for="Email" class="form-label">E-mail</label>
            <input asp-for="Email" class="form-control">
            <span asp-validation-for="Email"></span>
        </div>
        <div class="col-6">
            <label asp-for="Password" class="form-label">Senha</label>
            <input asp-for="Password" type="password" class="form-control">
            <span asp-validation-for="Password"></span>
        </div>
        <div class="col-6 form-check">
            <input asp-for="RememberMe" type="checkbox" class="form-check-input">
            <label asp-for="RememberMe" class="form-check-label">Lembre-se de mim</label>
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
    </form>
</div>

