@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tickets";
}

<div class="row">
    <h2>Chamados</h2>
</div>
<div class="row">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Status</th>
                <th scope="col">Título</th>
                <th scope="col">Requerente(e-mail)</th>
                <th scope="col">Unidade</th>
                <th scope="col">Criado em</th>
                <th scope="col">Atualizado em</th>
                <th scope="col">Técnico</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <th scope="row">1</th>
                <td>Em andamento</td>
                <td>titulo exemplo</td>
                <td>exemplo@gmail.com</td>
                <td>unidade exemplo</td>
                <td>01/01/2025</td>
                <td>01/01/2025</td>
                <td> - </td>
            </tr>
        </tbody>
    </table>
</div>
