@{
    ViewData["Title"] = "Home Page";
}

<!--<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>-->
<div class="row">
    <h2>Abertura de chamado</h2>
</div>
<div class="row">
    <form>
        <div class="row">
            <div class="col">
                <div class="mb-3">
                    <label for="title" class="form-label">Título do chamado</label>
                    <input type="text" class="form-control" id="title">
                </div>
                <div class="mb-3">
                    <label for="requesterPhone" class="form-label">Selecione a unidade com o problema relatado</label>
                    <select id="locationId" class="form-select form-select-lg mb-3" aria-label="Large select example">
                        <option selected disabled>Selecione...</option>
                        <option value="1">One</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </div>
                <div class="mb-3">
                    <label for="description" class="form-label">Descrição detalhada do problema</label>
                    <textarea class="form-control" id="description" rows="3"></textarea>
                </div>
            </div>
            <div class="col">
                <div class="mb-3">
                    <label for="requesterName" class="form-label">Seu nome</label>
                    <input type="text" class="form-control" id="requesterName">
                </div>
                <div class="mb-3">
                    <label for="requesterEmail" class="form-label">Seu e-mail</label>
                    <input type="email" class="form-control" id="requesterEmail">
                </div>
                <div class="mb-3">
                    <label for="requesterPhone" class="form-label">Seu celular (opcional)</label>
                    <input type="text" class="form-control" id="requesterPhone">
                </div>
            </div>
        </div>
        <div class="row"></div>
       
        
    
        <button type="submit" class="btn btn-primary">Enviar</button>
    </form>
</div>
